body {
  background-color: #111;
  color: white;
  font-family: Georgia, serif;
  margin: 0;
}

section {
  padding: 60px;
  border-bottom: 1px solid #444;
}

.hero {
  text-align: center;
  font-size: 24px;
}

body {
  margin: 0;
  font-family: Georgia, serif;

  background: linear-gradient(
    to bottom,
    #ff7a18 0%,     /* flame orange */
    #ffb36b 25%,    /* warm glow */
    #ffe0b2 55%,    /* wax */
    #fffaf2 80%,    /* soft fade */
    #ffffff 100%    /* clean white */
  );
}
