body {
  margin: 0;
  background: black;
  color: white;
  font-family: Georgia, serif;
}

.hero {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background:
    linear-gradient(
      to bottom,
      #ff8c42 0%,
      #f4d9b1 35%,
      #111111 100%
    );
}

.hero-content h1 {
  font-size: 72px;

  margin-bottom: 20px;

  letter-spacing: 2px;

  text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.hero-content p {
  font-size: 28px;

  opacity: 0.9;
}
